<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .container1, .container2 { 
            border: 2px solid teal;
            width: 480px;
            height: 320px;
            padding: 5px;
            display: inline-block;
            overflow: auto; /* hidden : overflow 되는 부분 (이미지 부분)은 잘라버림 scroll, auto*/
        }
    </style>
</head>
<body>
    <div class="container1">
        <h3>Austria</h3>
        <img src="./austria_640.png" alt="">
    </div>
    <div class="container2">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatem neque assumenda consequatur ea, vero a quasi sequi reiciendis ex pariatur, cupiditate at eligendi debitis libero, commodi tenetur aspernatur sapiente molestiae.
    Perspiciatis ut, vitae blanditiis provident, impedit cum, eaque doloremque est tempore commodi voluptate fuga amet architecto quis enim omnis. Sequi, impedit. Dolores non porro itaque, aperiam deleniti beatae. Minima, vel!
    Tenetur quisquam repellat doloremque, voluptates, fugiat ex obcaecati autem sequi molestiae laudantium fugit rem asperiores a! Neque nemo, laborum aut sed iure, architecto porro possimus error, ratione deleniti excepturi quas?
    Doloribus nesciunt natus at architecto ex assumenda ut atque sint, rerum similique aperiam molestiae quis debitis harum sed, dolore maiores iste ipsam vitae quibusdam reiciendis. Nisi quam id repudiandae enim!
    Sit enim provident beatae unde ipsam nemo harum? Ex architecto explicabo officia eum et placeat quis, debitis a harum reprehenderit dolore exercitationem? In natus reiciendis deleniti. Incidunt consequatur sit obcaecati!
    Dolorem saepe animi harum aliquam magni amet esse id pariatur, nam, ab vero? Cum, atque inventore, placeat eaque tempora quis quod porro, quam beatae sint vel error accusamus corrupti voluptatum.</div>
</body>
</html>